extends ../layouts/common

block content

    h2 List of my books

    .d-flex.align-items-center
        a.btn.btn-success(href="/books/add") Add new book
        
        form.form-inline.ml-auto(action="/books/find", method="GET")
            input.form-control(type="search", placeholder="search", name="q")
            button.btn.btn-outline-success(type="submit") Search

    table.table
        thead.thead-light
            tr
                th Name
                th Author
                th Type
                th Cover
                th Link
                th Actions
        tbody
        each book in books
            tr
                td= book.name
                td= book.author
                td= book.type
                td
                    img(src=book.cover, width="64")
                td
                    a(href=book.link) Link
                td
                    a.btn.btn-info(href="/books/" + book.id) View