extends ../layouts/common

block content

    .card.mb-3
        img.card-img-top(src=book.cover, alt='Card image')
        .card-body
            h5.card-title= book.name
            p.card-text= book.author
            p.card-text= book.content
            a(href=book.link).btn.btn-success Click to buy!